/* resets */
* {
  margin: 0;
  padding: 0;
  /* Alterando a contagem de tamanho a partir da borda */
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* geral */
body {
  background-image: url(./assets/bg.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

main {
  max-width: 580px;
  /* tamanho quando a tela for menor que 'max-width' */
  width: 90%;
  /* centralizando */
  margin: auto;
}

section {
  color: white;
}

section h2 {
  letter-spacing: -0.47px;
}

section p {
  color: #A1A1AA;
  letter-spacing: -0.18px;
}

ul {
  /* ajusta o posicionamento do conteúdo que está dentro da caixa-mãe UL 
  'gap' = é o espaço entre um elemento e outro*/
  display: flex;
  gap: 16px;
}

/* Ajustes específicos de elementos por ID ou classe. */
#my-games img {
  width: 90px;
  /* para cantos arredondados */
  border-radius: 8px;
}

#channels img {
  /* forma um circulo ao arredondar a bordar */
  border-radius: 50%;
  width: 70px;
}