/* resets */
* {
  margin: 0;
  padding: 0;
  /* Alterando a contagem de tamanho a partir da borda */
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* geral */
body {
  background-image: url(./assets/bg.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

main {
  max-width: 580px;
  /* tamanho quando a tela for menor que 'max-width' */
  width: 90%;
  /* centralizando */
  margin: auto;
}

section {
  color: white;
}

section h2 {
  letter-spacing: -0.47px;
}

section p {
  color: #A1A1AA;
  letter-spacing: -0.18px;
}